<!DOCTYPE html>
<html>
<%= render 'layouts/header' %>

<body>
  
  <div id="about">
    <%= render 'layouts/pages/about' %>
  </div>

  <div id="education">
    <%= render 'layouts/pages/education' %>
  </div>

  <div id="experience">
    <%= render 'layouts/pages/experience' %>
  </div>

  <div id="projects">
    <%= render 'layouts/pages/projects' %>
  </div>
  
  <div id="skills">
    <%= render 'layouts/pages/skills' %>
  </div>

  <div id="certifications">
    <%= render 'layouts/pages/certifications' %>
  </div>

</body>

<%= render 'layouts/footer' %>
</html>